<form #requestForm="ngForm" *ngIf="!requestID" (ngSubmit)="loginRequest()">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input
      type="email"
      name="email"
      required
      [(ngModel)]="email"
      placeholder="email@domain.com"
      clearInput
    ></ion-input>
  </ion-item>

  <ion-button
    type="submit"
    [disabled]="requestForm.invalid || requestForm.pristine"
    expand="full"
  >
    Request OTP
  </ion-button>
</form>

<form #otpForm="ngForm" *ngIf="requestID" (ngSubmit)="login()">
  <ion-item>
    <ion-label position="floating">OTP from email</ion-label>
    <ion-input
      type="number"
      name="code"
      pattern="[\d]{6}"
      maxlength="6"
      required
      [(ngModel)]="code"
      placeholder="OTP"
      clearInput
    ></ion-input>
  </ion-item>

  <ion-button
    type="submit"
    [disabled]="otpForm.invalid || otpForm.pristine"
    expand="full"
  >
    Login
  </ion-button>
</form>
