<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="play">
      <ion-icon name="book-outline"></ion-icon>
      <!-- <ion-label>Now</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="library">
      <ion-icon name="library-outline"></ion-icon>
      <!-- <ion-label>Книги</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <!-- <ion-label>Tab 3</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
