<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let book of books | async">
    <ion-card-header>
      <ion-card-subtitle>{{ book.author }}</ion-card-subtitle>
      <ion-card-title>{{ book.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ book.reader }} {{ book.id }}

      <ion-icon name="play-outline" (click)="play(book.id)"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>
