.actions {
  text-align: right;
}

.controls {
  text-align: center;
}

.mono {
  font-family: monospace;
}

ion-range {
  --pin-background: #fff;
  --pin-color: #000;
}

ion-range::part(pin) {
  font-family: monospace;
  top: -10px;
}

ion-list {
  ion-item:last-child {
    border-bottom: none;
  }
}
