<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/library"></ion-back-button>
    </ion-buttons>
    <ion-title>New book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Books to read</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>My Navigation Bar</ion-title>
    </ion-toolbar>

    <ion-toolbar>
      <ion-title>Subheader</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <form #form="ngForm" (ngSubmit)="newBook()">
    <ion-item>
      <ion-label position="floating">magnet link</ion-label>
      <ion-textarea
        [(ngModel)]="magnet"
        required="true"
        name="magnet"
        placeholder="magnet:?xt=urn:btih:..."
        pattern="magnet\:.*"
      ></ion-textarea>
    </ion-item>
    <ion-button
      expand="full"
      type="submit"
      autofocus="true"
      [disabled]="form.invalid || form.untouched || loading"
    >
      Add book
    </ion-button>
  </form>
</ion-content>
